<div class="container">
    <h1>Contacto</h1>
    
    <div id="texto" #textos>
      <p appResaltado>
          Esta en la pagina de contactos puedes enviarnos cualquier duda
      </p>
    </div>
    <!--
    Tano del Slider
    <input type="number" [(ngModel)]="widthSlider"/>
    <button (click)="cargarSlider()">Cragar Slider</button>
    <button (click)="resetarSlider()">Resetear Slider</button>

    <div *ngIf="anchuraToSlider">

      <slider [anchura]="anchuraToSlider"
              [etiqueta]="captions"
              (conseguirAutor)="getAutor($event)">
      </slider>

    </div>
    {{autor.nombre +  " " + autor.youtube}}
    -->

</div>