<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>


</div>

<article class="about">
   <h2>Sobre mi</h2>

   <p>
       Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis optio cupiditate blanditiis sit velit totam atque aut, nihil ducimus vitae est quidem obcaecati nulla rem ipsa asperiores, corrupti provident cum!
       Molestias a voluptatum, explicabo rerum quod quae reprehenderit adipisci voluptatem laborum quasi voluptas cupiditate quas, dolores labore corrupti omnis delectus, tempore atque quaerat! Eveniet at, adipisci eaque expedita repellendus quia?
       Praesentium quam laboriosam aperiam, ullam eum porro. Optio ducimus voluptatibus aliquam. Dignissimos veritatis doloribus alias eveniet voluptatum qui ut atque. Officiis eaque incidunt consequatur quasi rerum architecto aliquid distinctio beatae.
       Cumque nemo illo nobis rem quasi doloremque ducimus aliquam accusantium aut quo libero itaque pariatur doloribus, minima iste provident quibusdam. Voluptatum, eveniet. Maxime nulla odit enim nam! Sit, fugiat. Odio!
       Quasi, harum molestias? Voluptates, nobis? Ipsa tenetur molestias ab minima tempore porro autem cupiditate harum esse accusamus debitis minus odit, quidem, in repellendus sed laboriosam aliquam nemo totam eos aliquid.
    </p> 
     

</article>
