
<div class=container *ngIf="project">
    <h2>{{title}}</h2>

    <div class="message success" *ngIf="status == 'success'">
        El proyecto se a creado correctamente puede verlo <a [routerLink]="['/proyecto', save_project._id]">AQUI</a>
    </div>

    <div class="message failed" *ngIf="status == ''">
        El proyecto No se ha creado
    </div>

    <form #projectForm="ngForm">
        <p>
            <label for="name">Nombre</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" required/>
            <span class="form_error" *ngIf="name.touched && !name.value">
               El nombre es obligatorio
            </span>
        </p>

        <p>
            <label for="description">Descripcion</label>
            <textarea type="text" name="description" #description="ngModel" [(ngModel)]="project.description" required></textarea>
            <span class="form_error" *ngIf="description.touched && !description.value">
                La descripcion no es valida
             </span>
        </p>

        <p>
            <label for="category">Categoria</label>
            <input type="text" name="category" #category="ngModel" [(ngModel)]="project.category"required>
            <span class="form_error" *ngIf="category.touched && !category.value">
                La categoria no es valida
             </span>
        </p>

        <p>
            <label for="year">Ano</label>
            <input type="number" name="year" #year="ngModel" [(ngModel)]="project.year">

        </p>

        <p>
            <label for="langs">Lenguajes utilizados</label>
            <input type="text" name="langs" #langs="ngModel" [(ngModel)]="project.langs"required>
            <span class="form_error" *ngIf="langs.touched && !langs.value">
                Los lenguajes no son validos
             </span>
        </p>

        <p>
            <label for="image">Imagen del proyecto</label>

            <span class="image" *ngIf="project">
                <img [src]="url+'get-image/'+project.image | safeUri" *ngIf="project.image"/>
                
            </span>
        
            
               <input type="file" name="image" placeholder="Subir imagen" (change) = "fileChangeEvent($event)">
        </p>

        <input type="button" value="Enviar" (click)="onSubmit(projectForm)" [disabled]="!projectForm.form.valid"/>

    </form>
</div>



