
/*Importar fuentes*/
@font-face{
    font-family: "yanone";
    src: url("fonts/yanone.ttf");

}

@font-face{
    font-family: "titilium";
    src:url("fonts/titilium.ttf");
}

@font-face{
    font-family: "fingerPaint";
    src:url("fonts/FingerPaint.ttf");
}

/*Estilos generales*/

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "yanone", Arial, Helvetica;
    font-size: 20px;
    background: url("../img/pattern.jpg");
    background-attachment: fixed;
}

.clearFix{
    float:none;
    clear: both;
}

/*Barra de navegacion/header*/

header{
    display: block;
    width: 100%;
    height: 90px;
    background: rgba(53,103,164,0.8);
    position: fixed;
    text-transform: uppercase;

}

header ul{
    display: block;
    width: 39%;
    height: inherit;
    margin:  0px auto;
    margin-top: -4px;
}

header ul li{
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    line-height: 88px;
}

header  a{
   display: block;
   padding-right: 20px;
   padding-left: 20px;
   height: inherit;
   text-decoration: none;
   color: white;
   transition: all 300ms;
}

header a:hover, .actived{
    background: rgba(0,0,0,0.8);

}

/*Logo Tipo*/

#logo{
    font-family: "fingerPaint";
    font-size: 30px;
}
#logo a{
    transition: color 500ms, transform 500ms;
}

header #logo a:hover{
    background: transparent;
    color: black;
    transform:scale(1.50,1.50) ;
}

/*Contenedor Principal*/

#content{
    min-height: 600px;
    height: auto;
    width: 75%;
    margin: 0 auto;
    box-shadow: 0px 0px 40px black;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    background: rgba(255,255,255,0.7);
    padding-top: 120px;
}

/*footer*/

footer{
    width: 75%;
    margin: 0px auto;
    padding-top: 15px;
    color: rgba(0,0,0,0.5);

}

/*about*/

#title{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
}

#title h1{
   font-family: "fingerPaint";
   font-size: 60px;
   border-bottom: 1px solid #ccc;
   padding-bottom: 5px;
}

#title h2{
    font-size: 25px;
    color: gray;
    margin-top: 5px;
    margin-bottom: 5px;
}

article.about{
    width: 70%;
    margin: 0px auto;
    margin-bottom: 20px;
    font-size: 23px;
}

.about h2{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;

}

.about p{
    padding-top: 20px;
    padding-bottom: 30px;
    color: gray;
    text-align: justify;

}
/*Form*/

.container{
    padding: 50px;
    padding-top: 50px;

}
.container .image{
    float: left;
    width: 49%;
}
.container .image img{
    float: left;
    width: 100%;
} 
.container .data{
    float: left;
    width: 47%;
    margin-left: 30px;
}

.container h2{
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;

}

form{
    width: 80%;

}

form label{
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea{
   width: 40%;
   padding:5px;
}

form button,
input[type="button"],
.button-edit,
.button-delete
{
    display: block;
    font-size: 17px;
    padding: 10px;
    margin-top: 5px;
    color: white;
    background: rgba(53,103,164,1);
    border: 1px solid rgba(13,67,133,1);
    cursor: pointer;
}

.button-edit,
.button-delete{
    width: 30%;
    float:left;
    margin-right: 10px;
    text-decoration: none;
    text-align: center;
}
.button-edit{
    background: orange;
    border: none;
}
.button-delete{
    background: red;
    border: none;
}
form button:hover, 
input[type="button"]:hover{
   
    background: rgba(53,103,164,0.8);
    border: 1px solid rgba(13,67,133,1);
    cursor: pointer;
}

form input[disabled]{
    opacity: 0.4;
    cursor: not-allowed;
}

.form_error{
    font-size: 15px;
    padding:4px;
    background: red;
    color:white;
    margin-left: 5px;
}

.message{
    width: 50%;
    padding: 5px;
    border: 1px solid #eee;
}

.success{
    background: greenyellow;
    color: white;
}

.message a{
    color:white;
}

.failed{
    background: red;
    color: white;
}

/*proyectos*/
.project{
    list-style: none;
    display: block;
    float: left;
    width: 27%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}
.project .image{
    width: 100%;
    height: 150px;
    overflow: hidden;
}
.project img{
   width: 100%;
}

.project a{
    text-decoration: none;
    color: black;
}

.confirm{
    display: block;
    font-weight: bold;
    margin-top:20px;
}