
<header>
    <ul>
        <li><a [routerLink]= "['/sobre-mi']" [routerLinkActive]="['actived']">Sobre mi</a></li>
        <li><a [routerLink]= "['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
        <li id="logo"><a href="#">MM</a></li>
        <li><a [routerLink]="['/crear-proyectos']" [routerLinkActive]="['actived']">Crear Proyectod</a></li>
        <li><a [routerLink]="['/contactos']" [routerLinkActive]="['actived']">Contactos</a></li>
      </ul>
</header>

<section id="content">
    <router-outlet></router-outlet>
</section>

<footer>
  Master en JavaScript de Manuel Martinez.com.ar &copy;
</footer>
